{{!-- restaurant list --}}
<div class="container mt-5">
  <div class="row">
    <h2>Welcome back, {{firstName}}</h2>
  </div>
  <div class="row">
    <form action="/logout" method="get">
      <button class="btn btn-primary btn-block" type="submit">Sign out</button>
    </form>
  </div>
</div>